@font-face {
  font-family: "poppins";
  src: url("../fonts/Poppins-Regular.otf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "poppins";
  src: url("../fonts/Poppins-Medium.otf");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "poppins";
  src: url("../fonts/Poppins-SemiBold.otf");
  font-style: normal;
  font-weight: 600;
}

:root {
  --blue: #0d13d7;
  --gray: #707070;
  --white: #ffffff;
  --dark: #000000;
  --dark-blue: #3a406d;
  --background-page: #f9f9ff;
  --blue-shadow: rgba(13, 19, 215, 0.2);
  --gray-shadow: rgba(112, 112, 112, 0.11);
}

html,
body {
  margin: 0px;
  padding: 0px;
}

body {
  font-size: 16px;
  background-color: var(--background-page);
  font-family: "poppins";
  color: var(--dark-blue);
  max-width: 100%;
  min-width: 320px;
}

a {
  text-decoration: none;
}

.background-circle {
  position: absolute;
  right: -25%;
  top: -57%;
  width: 900px;
  height: 900px;
  z-index: -1;
}

.header {
  width: calc(100%-48px);
  height: 100px;
  padding: 0 24px;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  height: inherit;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__img-container {
  width: 43px;
  height: 43px;
  border-radius: 50%;
  margin: 0px;
}

.header__img-container img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.header__menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.header__list-item {
  margin: 0 32px;
}

.header__list-item a {
  color: var(--dark-blue);
  font-size: 1.25rem;
}

.header__right {
  display: flex;
  align-items: center;
}

.header__sign-in-button {
  border: 1px solid var(--white);
  color: var(--white);
  font-size: 1.25rem;
  display: block;
  padding: 10px 3rem;
  text-decoration: none;
  border-radius: 30px;
  background-color: var(--blue);
  box-shadow: 0px 20px 46px var(--blue-shadow);
}

.hero {
  display: flex;
}

.hero__left {
  display: flex;
  flex-direction: column;
  padding: 0px 6%;
}

.hero__left h1 {
  font-family: "poppins";
  margin: 80px 0px 42px;
  font-size: 65px;
  font-weight: 600;
  color: var(--dark);
}

.hero__left p {
  margin-top: 0px;
  font-size: 20px;
  font-weight: 500;
}

.hero__actions {
  display: flex;
  align-items: center;
}

.hero__actions a:first-child {
  background-color: var(--blue);
  color: var(--white);
  padding: 10px 34px;
  border-radius: 50px 0px 50px 50px;
  font-weight: 500;
  box-shadow: 0px 20px 46px var(--blue-shadow);
  text-align: center;
}

.hero__actions span {
  margin: 0 16px;
  font-weight: 500;
  color: var(--gray);
}

.hero__actions a:last-child {
  color: var(--blue);
  text-decoration: underline;
  font-weight: 500;
}

.hero__right {
  /* border: 1px solid black; */
}

.hero__right figure {
  margin: 0;
}

.hero__right figure img {
  max-width: 320px;
  border-radius: 54px;
  box-shadow: -20px 33px 56px var(--gray-shadow);
}

.container {
  max-width: 1024px;
  flex: 1;
  margin: 0 auto;
  display: inherit;
  flex-direction: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
}

.border-bottom {
  border-bottom: 1px solid lightgray;
  padding-bottom: 2rem;
}

.social-network {
  width: 100%;
  min-height: 30vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.social-network__link img {
  height: 40px;
}

.services {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services__title {
  font-size: 20px;
  font-weight: 500;
  color: var(--blue);
}

.services__short-desc {
  font-size: 20px;
  font-weight: 500;
  color: var(--dark);
}

.services__list {
  display: flex;
}

.service__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 31%;
  padding: 10px 1%;
}

.service__card figure {
  width: 100%;
  max-width: 200px;
}

.service__card figure img {
  width: 100%;
}

.service__card h4 {
  margin-top: 0px;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
}

.service__card p {
  color: var(--gray);
  padding: 5px 15px;
  margin: 0px;
  margin-top: 30px;
  text-align: center;
}

.service__card:hover {
  transition: 400ms;
  border-radius: 20px;
  box-shadow: 0px 50px 76px var(--gray-shadow);
}

.app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
}

.app__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 6%;
}

.app__right h1 {
  font-family: "poppins";
  margin: 20px 0px 42px;
  font-size: 42px;
  font-weight: 600;
  color: var(--dark);
}

.app__right p {
  margin-top: 0px;
  font-size: 18px;
  font-weight: 500;
  color: var(--dark);
}

.app__actions {
  display: flex;
  align-items: center;
}

.app__actions a {
  background-color: var(--blue);
  color: var(--white);
  padding: 10px 34px;
  border-radius: 50px 0px 50px 50px;
  font-weight: 500;
  box-shadow: 0px 20px 46px var(--blue-shadow);
}

.app__actions span {
  margin: 0 16px;
  font-weight: 500;
  color: var(--gray);
}

.app__left figure {
  margin: 0px;
}

.app__left figure img {
  max-width: 320px;
  border-radius: 54px;
  box-shadow: -20px 33px 56px var(--gray-shadow);
}

.screen-shots {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

.screen-shots__list {
  display: flex;
  justify-content: space-between;
}

.screen-shots__item {
  /* width: 250px; */
  /* text-align: center; */
}

.screen-shots__img {
  width: 100%;
}

.screen-shots p {
  margin: 0px;
  font-size: 20px;
  font-weight: 500;
  color: var(--blue);
}

.screen-shots h2 {
  margin-top: 0px;
  font-size: 42px;
  font-weight: 500;
  color: var(--dark);
  margin-bottom: 1rem;
}

.header,
.hero,
.social-network,
.services,
.app {
  margin-bottom: 50px;
}

.footer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #484ce6;
  color: var(--white);
}

.footer .follow {
  display: flex;
}

.footer .follow a img {
  width: 50px;
  margin: 0 20px;
}

.footer .follow a img:hover {
  transform: scale(1.3);
  transition: 1s all;
}

@media screen and (max-width: 1023px) {
  .header__list-item {
    margin: 0 20px;
  }

  .header__list-item a {
    font-size: 1rem;
  }

  .header__sign-in-button {
    font-size: 1rem;
    padding: 10px 3rem;
    display: initial;
  }

  .container {
    padding: 0px 16px;
  }

  .hero__left {
    padding: 0rem 2rem;
  }

  .hero__left h1 {
    font-size: 55px;
    line-height: 4rem;
  }

  .hero__left p {
    font-size: 18px;
  }

  .social-network {
    flex-wrap: wrap;
  }

  .social-network__link img {
    margin: 2rem;
  }
}

@media screen and (max-width: 767px) {
  .active {
    left: 0;
    transition: 500ms;
  }

  .hero {
    text-align: center;
    height: initial;
    flex-direction: column;
  }

  .hero__left {
    padding: 0 2rem;
    align-items: center;
  }

  .hero__left h1 {
    margin-top: 0;
  }

  .hero__actions {
    margin: 3rem 0rem;
  }

  .hero__right figure img {
    border-radius: 34px;
  }

  .social-network__link img {
    margin: 1rem;
  }

  .services {
    display: block;
    text-align: center;
  }
  .services__list {
    display: initial;
  }

  .service__card {
    width: 70%;
    margin: 0 auto;
    padding-bottom: 2rem;
  }

  .service__card figure {
    margin: 0;
  }

  .service__card p {
    margin-top: 0;
  }

  .app {
    flex-direction: column-reverse;
    align-items: center;
  }

  .app:last-of-type {
    flex-direction: column;
  }

  .app__left {
    padding-top: 4rem;
  }

  .app__right {
    text-align: center;
    align-items: center;
  }
}

@media screen and (max-width: 480px) {
  .hero__left h1 {
    font-size: 40px;
    line-height: 120%;
    margin-bottom: 16px;
  }

  .hero__left p {
    font-size: 16px;
  }

  .hero__actions {
    flex-direction: column;
    margin-top: 1rem;
  }

  .hero__actions span {
    margin: 1.2rem 0rem;
  }

  .social-network {
    flex-direction: column;
  }

  .social-network__link img {
    height: 30px;
    margin: 0.8rem;
  }

  .service__card {
    width: 85%;
  }

  .app_right h1 {
    font-size: 40px;
    line-height: 120%;
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 320px) {
  .hero__left h1 {
    font-size: 2rem;
    margin-bottom: 16px;
  }

  .hero__right figure img {
    max-width: 280px;
    border-radius: 54px;
  }

  .service__card {
    width: 100%;
  }

  .app__left h1 {
    font-size: 2rem;
  }
  .app__right h1 {
    font-size: 2rem;
  }
}
